NAROO_AUTH_REFRESH_COOKIE_SECURE=true
NAROO_CORS_ALLOWED_ORIGINS=https://naroo.app

NAROO_DATABASE_URL=jdbc:mysql://<prod-mysql-host>:3306/naroo?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&useSSL=true
NAROO_DATABASE_USERNAME=<prod-mysql-user>
NAROO_DATABASE_PASSWORD=<prod-mysql-password>

NAROO_REDIS_HOST=<prod-redis-host>
NAROO_REDIS_PORT=6379

NAROO_JWT_SECRET=<replace-with-at-least-32-byte-random-secret>
NAROO_JWT_ACCESS_TOKEN_TTL_MINUTES=60
NAROO_JWT_REFRESH_TOKEN_TTL_DAYS=3

NAROO_SEED_STUDENT_ENABLED=false
